footer  {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.navbar {
  padding-left: 5rem !important;
}

.nav-link {
  color: #0ff;
}

.weather-card {
  margin: 0px 10px 0px 10px;
  background-color: aqua;
  padding-left: 0px;
  padding-right: 0px;
}

.weather-card .card-body {
  background-color: rgb(0, 46, 0);
  color: wheat;
  width: 100%;
}

.card-img-top {
  width: 200px;
  margin: auto;
}

.card {
  flex: 1;
}